{% extends "maestro/base.html" %}
{% load static %}

{% block head_files %}
    <link href="{% static "assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" %}" rel="stylesheet" />
	<link href="{% static "assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" %}" rel="stylesheet" />
{% endblock %}


{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="btn-group pull-right">
               <a href="/maestro/categoria/0/edit" class="btn btn-xs btn-primary buttons"><i class="fa fa-plus"></i></a>
            </div>
            <h4 class="panel-title">Categoría</h4>
        </div>
        <div class="panel-body">
         
            <table id="table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-nowrap">Descripción</th>
                        <th class="text-nowrap">Nivel</th>
                        <th class="text-nowrap">Categoría Padre</th>
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in object_list %}
                        <tr>
                            <td>{{ c.descripcion }}</td>
                            <td>{{ c.nivel }}</td>
                            <td>{{ c.padre.descripcion }}</td>
                            <td><div class="fa-2x"><a class="no-link" href="/maestro/categoria/{{ c.id }}"><i class="fas fa-xs fa-eye icons-table"></i></a>
                                <a class="no-link" href="/maestro/categoria/{{ c.id }}/edit"><i  class="fas fa-xs fa-edit icons-table"></i></a></div></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script src="{% static "assets/plugins/DataTables/media/js/jquery.dataTables.js" %}"></script>
	<script src="{% static "assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js" %}"></script>
    <script>
        $('#table').DataTable({
            language: {
                "url": "/static/assets/plugins/Datatables/language/Spanish.json"
            },
            responsive: true
        });
    </script>
{% endblock %}