{% extends "maestro/base.html" %}
{% load static %}



{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <a href="/maestro/empresa/0/edit" class="btn btn-xs btn-primary buttons"><i class="fa fa-plus">
                </i></a>
                <a href="/maestro/empresa/{{ object.id }}/edit" class="btn btn-xs btn-primary buttons"><i class="fa fa-edit"></i></a>
               
            </div>
            <h4 class="panel-title">Empresa</h4>
        </div>
        <div class="panel-body">

            <div class="form-group row m-b-2">
                <div class="col-md-2">
                    <label class="control-label">RAZÓN SOCIAL:</label>

                </div>
                <div class="col-md-3">

                    {{ object.descripcion }}
                </div>
                <div class="col-md-2">
                    <label class="control-label">RUC:</label>
                </div>
                <div class="col-md-3">
                    {{ object.ruc }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}