{% extends "maestro/base.html" %}
{% load static %}

{% block head_files %}
    <link href="{% static "assets/plugins/select2/dist/css/select2.min.css" %}" rel="stylesheet" >
{% endblock %}



{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="btn-group pull-right">
               
            </div>
            <h4 class="panel-title">Producto</h4>
        </div>
        <div class="panel-body">
            <form method="post">{% csrf_token %}

                <div class="form-group row m-b-2">
                    <div class="col-md-1">
                        <label class="control-label">EMPRESA:</label>

                    </div>
                    <div class="col-md-4">
                        {{ object.empresa }}
                    </div>

                    <div class="col-md-1">
                        <label class="control-label">DESCRIPCION:</label>
                    </div>
                    <div class="col-md-4">
                        {{ object.descripcion }}
                    </div>
                </div>
                                <div class="form-group row m-b-2">
                    <div class="col-md-1">
                        <label class="control-label">UTILIDAD:</label>

                    </div>
                    <div class="col-md-4">
                        {{ object.utilidad_monetaria }}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-xs btn-success"><i class="fa fa-save fas"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script src="{% static "assets/plugins/select2/dist/js/select2.min.js" %}"></script>
    <script>
        $(".default-select2").select2();
        $(".select2-container--default").removeAttr('style').css("width","100%");
    </script>
{% endblock %}