{% extends "maestro/base.html" %}
{% load static %}

{% load maestro_tags %}

{% block head_files %}
{% endblock %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="btn-group pull-right">
              <a href="/maestro/proveedor/0/edit" class="btn btn-xs btn-primary buttons"><i class="fa fa-plus"></i></a>
              <a href="/maestro/proveedor/{{ object.id }}/edit" class="btn btn-xs btn-primary buttons"><i class="fa fa-edit"></i></a>
             
            </div>
            <h4 class="panel-title">Proveedor</h4>
        </div>
        <div class="panel-body">

          <div class="form-group row m-b-2">
            <div class="col-md-2">
              <label class="control-label">DESCRIPCION:</label>
            </div>

            <div class="col-md-3">
              <span class="control-label">{{ object.descripcion }}</span>
            </div>

            <div class="col-md-2">
              <label class="control-label">RUC:</label>
            </div>

            <div class="col-md-3">
              {{ object.ruc }}
            </div>
          </div>
                      <div class="form-group row m-b-2">
            <div class="col-md-2">
              <label class="control-label">PROVEE A:</label>
            </div>

            <div class="col-md-3">
              <span class="control-label">{{ object.empresa.descripcion }}</span>
            </div>

          </div>
           
    </div>
</div>
    <div class="panel panel-inverse">
        <div class="modal-header">
          <h4 class="panel-title"> Catalogo</h4>
          <a href="/maestro/proveedor/catalogo/{{ object.id }}" class="btn btn-xs btn-primary buttons"><i class="fa fa-eye"></i> Ver Catálogo</a>
        </div>

        <div class="panel-body">

        </div>

    </div>



{% endblock %}

{% block bottom_scripts %}
{% endblock %}